.GameBoardCnt {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1 / 1;
  @apply mt-10 lg:mt-3;
}

.logoCnt {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  @apply hidden lg:block;
}

.logoCnt img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btnActionCnt {
  @apply rounded-full absolute left-1/2 top-1/2 flex justify-center;
  transform: translate(-51%, -18%);
}

.btnActionCnt button {
  @apply flex flex-col gap-1 rounded-full w-16 h-16;
  font-weight: 700;
}

.aimBtnCnt,
.fireBtnCnt {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4))
    drop-shadow(0 3px 3px rgba(255, 255, 255, 0.3));
}
.fireBtn {
  scale: 0.8;
  @apply text-black font-bold rounded-full bg-gradient-to-t from-red-600 via-red-700 to-red-800 hover:from-red-400 hover:via-red-500 hover:to-yellow-400 shadow-lg;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.6),
    inset 0 -3px 4px rgba(0, 0, 0, 0.7), 0 4px 5px rgba(0, 0, 0, 1);
}
.aimBtn {
  @apply text-black font-bold rounded-full bg-gradient-to-t from-yellow-300 via-yellow-400 to-yellow-500 shadow-lg;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.6),
    inset 0 -3px 4px rgba(0, 0, 0, 0.7), 0 4px 5px rgba(0, 0, 0, 1);
  transition: scale 0.5s ease;
}

@media (max-width: 1023px) {
  .GameBoardCnt {
    max-width: 100vw;
    aspect-ratio: initial;
  }
  .timesGroup,
  .logoCnt,
  .logoCnt img,
  .btnActionCnt {
    position: initial;
  }
  .logoCnt,
  .btnActionCnt {
    transform: none;
  }
  .btnActionCnt {
    @apply py-6 mx-auto;
  }
  .btnActionCnt button {
    @apply w-24 h-24;
  }
}

.button-1 {
  top: 25%;
  left: -16%;
}
.button-2 {
  top: 50%;
  left: -32%;
}
.button-3 {
  top: 75%;
  left: -19%;
}
.button-4 {
  top: 25%;
  right: -19%;
}
.button-5 {
  top: 50%;
  right: -32%;
}
.button-6 {
  top: 75%;
  right: -14%;
}

.trophy-bronze {
  color: rgb(205, 127, 50);
}
.trophy-silver {
  color: rgb(192, 192, 192);
}
.trophy-gold {
  color: rgb(255, 215, 0);
}
.trophy-diamond {
  color: rgb(185, 242, 255);
}
